:root {
  --font: 'Roboto', sans-serif;
  --black: #000;
  --white: #fff;
  --gray: #797979;
  --bright_gray: #E1E1E1;
  --super_bright_gray: #F0F0F0;
  --red: rgb(247, 131, 131);
  --green: rgb(64, 189, 75);
}


